name: yuno_sdk_android
description: "A Yuno Project for Android"
version: 0.0.1


environment:
  sdk: '>=3.5.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.yuno_sdk_android
        pluginClass: YunoSdkAndroidPlugin