name: yuno_sdk_android
description: "A Yuno Project for Android"
version: 0.7.0
homepage: https://www.y.uno/

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.yuno_flutter.yuno_sdk_android
        pluginClass: YunoSdkAndroidPlugin