name: yuno_sdk_foundation
description: "A Yuno Project for IOS"
version: 0.4.0
homepage: https://www.y.uno/

environment:
  sdk: '>=3.4.3 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
        ios:
          pluginClass: YunoSdkFoundationPlugin

