name: yuno_sdk_core
description: "A Yuno project"
version: 0.2.0
homepage: https://www.y.uno/

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  mocktail: ^1.0.4


